html, body, div, p, ul, li, ol,  dl, dt, dd, header, footer,video,h1,h2,h3,h4 ,canvas,section,figure{padding:0;margin:0;}
a{text-decoration:none;}
li{list-style:none;}
html{height:100%;}
img {border:none;vertical-align:top;width:100%;}
input,textarea{outline:none;}
body{font-family:"微软雅黑";font-size:14px;background:#ccc;overflow:hidden;}

#container{width:100%;overflow:hidden;}

#container li{position:relative;}
#container li span{display: inline-block;position: absolute; width: 40px;height: 40px;background:url(../images/info.png) no-repeat;z-index: 22;bottom: 20px;left: 50%;margin-left: -20px;-webkit-animation: shake 1.5s ease-out infinite ;background-size:contain;}
#container li:nth-of-type(1){background:url(../images/1.jpg) no-repeat center center;background-size:cover;}
#container li:nth-of-type(2){background:url(../images/2.jpg) no-repeat center center;background-size:cover;}
#container li:nth-of-type(3){background:url(../images/3.jpg) no-repeat center center;background-size:cover;}
#container li:nth-of-type(4){background:url(../images/4.jpg) no-repeat center center;background-size:cover;}
#container li:nth-of-type(5){background:url(../images/5.jpg) no-repeat center center;background-size:cover;}
#main{-webkit-transition:500ms -webkit-transform ease-in;}

@-webkit-keyframes shake{
    from{-webkit-transform:translateY(0);opacity:0}
    to {-webkit-transform: translateY(-25px);opacity: 1;}
}
