html, body, div, p, ul, li, ol,  dl, dt, dd, header, footer,video,h1,h2,h3,h4 ,canvas,section,figure{padding:0;margin:0;}
a{text-decoration:none;}
li{list-style:none;}
html{height:100%;}
img {border:none;vertical-align:top;width:100%;}
input,textarea{outline:none;}
body{font-family:"微软雅黑";font-size:14px; background-size:cover;}

#nav{width:150px;position:fixed;top:60px;-webkit-perspective-origin:left;z-index:2;height:400px;overflow:hidden;opacity:0;-webkit-transform:translateX(-150px);-webkit-transition:.2s -webkit-transform ease-in;display:none;}
#nav ul{}
#nav ul li{width:100%;height:40px;line-height:40px;text-align:center;background:rgba(112,20,30,.8);}
#port .content ul li{position:relative;}
#nav  ul li a{display:block;width:100%;height:100%;color:#fff;}
 
#port{width:100%;overflow:hidden;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-perspective:800px;perspective:800px;z-index:1;backface-visibility:hidden}
#port .content{-webkit-transform-origin:right;transform-origin:right;-webkit-transition:.4s -webkit-transform ease-out;transition:.4s -webkit-transform ease-out;}
#port .content ul{-webkit-transition:.4s -webkit-transform ease-out;}
#port .content ul li span {display: inline-block;position: absolute; width: 40px;height: 40px;background:url(../images/info.png) no-repeat;z-index: 22;bottom: 20px;left: 50%;margin-left: -20px;-webkit-animation: shake 1.5s ease-out infinite ;background-size:contain;-webkit-transition:500ms opacity;animation: shake 1.5s ease-out infinite ;}
#port .content ul li:nth-of-type(1) label{width:100%;height:30px;position:absolute;bottom:10px;color:#fff;text-align:center;}
/*头部样式*/
#menu{width:100%;height:40px;position:absolute;top:0;left:0;text-align:right;line-height:40px;background:rgba(171,205,239,.2);z-index:24;}
#menu span{margin-right:20px;color:#000;}
#menu div{float:left;width:40px;height:40px;}

#mask{width:100%;background:rgba(0,0,0,.3);position:absolute;z-index:-1;left:0;top:0;opacity:0;-webkit-transition-property:all;transition-property:all;}
 
/*#index{width:100%;position:absolute;left:0;top:0;z-index:2;-webkit-transition:500ms;backface-visibility:hidden}
#index span{width:100%;height:30px;position:absolute;bottom:10px;color:#fff;text-align:center;}*/
/*#xu{width:100%;background:url(../images/xu.jpg) no-repeat center center;background-size:cover;position:fixed;left:0;top:0;z-index:1;-webkit-transition:500ms;}*/
#box{width:100%;height:100%;position:fixed;z-index:100;left:0;top:0;background:#fff;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;-webkit-box-orient:vertical;-webkit-transition:1s all;text-align:center;}
#box canvas{opacity:0;display:none;}
.link{position:absolute;bottom:10px;left:10%;width:80%;height:40px;display:inline-block;font-size:16px;color:#676568;text-align:left;}
    
#port ul li{
    -webkit-backface-visibility:hidden;
    position:relative;
    display:-webkit-box;
    text-align:center;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}

.lt_slider{
    width:100%;
    overflow:hidden;
    height:400px;
}
.lt_slider p{
    width:90%;
    text-indent:2em;
    line-height:25px;
    margin:0 auto;
   
}
@-webkit-keyframes shake{
    from{-webkit-transform:translateY(0);opacity:0}
    to {-webkit-transform: translateY(-25px);opacity: 1;}
}
@keyframes shake{
    from{transform:translateY(0);opacity:0}
    to {transform: translateY(-25px);opacity: 1;}
}
@media all and (max-width:360px){
    .lt_slider{
        height:350px;
    }
}

@media all and (max-width:320px){
    .lt_slider{
        height:320px;
    }

    #nav{top:45px;}
}
@media all and (max-width:320px) and (max-height:372px){
    .lt_slider{
        height:280px;
    }
    #nav{top:35px;height:300px;}
}

@media all and (min-width:640px){
   #nav{position:absolute;}
   #port{width:640px;margin: 0 auto;background:url(../images/bg.jpg) no-repeat center center;background-size:cover;position:relative;   }
   #port ul{position:relative;top:0;left:0;}
   body{background:none;}
   #box{box-sizing:padding-box;}
}