html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
}
input,
textarea {
  outline: none;
}
body {
  font-family: "微软雅黑";
  font-size: 14px;
  background: #ccc;
  overflow: hidden;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  transform-style: preserve-3d;
  perspective: 800px;
}
#container {
  width: 100%;
  overflow: hidden;
}
#container li {
  position: relative;
}
.info {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../images/info.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: shake 1.5s infinite linear;
  animation: shake 1.5s infinite linear;
}
#index {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
}
#index figure {
  margin: 15px auto;
  -webkit-transform: translate3d(1210px, 0, 0);
  transform: translate3d(1210px, 0, 0);
}
#index .title {
  width: 50%;
  -webkit-transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
}
#index .mx {
  width: 30%;
  -webkit-transition: -webkit-transform 1000ms 400ms;
  transition: transform 1000ms 400ms;
}
#index .text {
  width: 80%;
  -webkit-transition: -webkit-transform 1000ms 700ms;
  transition: transform 1000ms 700ms;
}
#time {
  width: 300%;
  height: 300%;
  position: absolute;
  left: -75%;
  top: -75%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  z-index: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  transform-style: preserve-3d;
  perspective: 800px;
}
#time img {
  -webkit-transform: translate3d(0, 0, 0) rotate(-720deg);
  transform: translate3d(0, 0, 0) rotate(-720deg);
  -webkit-transition: -webkit-transform 4s;
  transition: transform 4s;
}
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10110;
  left: 0;
  top: 0;
  background: #ececec;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-transition: 1s all;
  text-align: center;
}
#loading div {
  margin: 0 auto;
}
#loading canvas {
  opacity: 0;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: translate3d(0, 0, -600px) rotate(0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 600px) rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: translate3d(0, 0, -1000px) rotate(0);
  }
  to {
    transform: translate3d(0, 0, 1200px) rotate(360deg);
  }
}
#play {
  width: 36px;
  height: 40px;
  background: url(../images/play.png) no-repeat 0 0;
  position: fixed;
  right: 10%;
  top: 4%;
  z-index: 1000;
}
#container li {
  overflow: hidden;
}
#container li:nth-of-type(1) {
  background: #def5ff;
}
#container li:nth-of-type(2) {
  background: #d0e6ff;
}
#container li:nth-of-type(3) {
  background: #eafff6;
}
#container li:nth-of-type(4),
#container li:nth-of-type(5),
#container li:nth-of-type(6) {
  background: #eeffea;
}
#container li:nth-of-type(7) {
  background: #fff8ea;
}
#container li:nth-of-type(8) {
  background: #ffefea;
}
#container li:nth-of-type(9) {
  background: #faeaff;
}
#container li:nth-of-type(10) section {
  width: 80%;
  margin: 10% auto;
  font-size: 18px;
  text-indent: 2em;
  padding-right: 20%;
  line-height: 25px;
}
#container li:nth-of-type(10) section span {
  -webkit-transform: translate3d(1200px, 0, 0);
  transform: translate3d(1200px, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
  transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
  display: inline-block;
  opacity: 0;
  width: 20px;
}
#container li h1 {
  height: 2%;
}
#container li .img_container {
  width: 80%;
  margin: 0 auto;
}
#container li .text_content {
  width: 80%;
  overflow: hidden;
  margin: 20px auto;
  left: 10%;
}
#container li .text_content p {
  line-height: 30px;
  font-size: 18px;
  text-indent: 2em;
}
#main {
  -webkit-transition: 500ms -webkit-transform ease-in;
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-25px);
    opacity: 1;
  }
}
@keyframes shake {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-25px);
    opacity: 1;
  }
}
@media all and (min-width: 640px) {
  #index,
  #loading,
  #container {
    width: 640px;
    left: 50%;
    margin-left: -320px;
  }
  #container {
    margin: 0 auto;
  }
}
