html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
}
body {
  font-family: "微软雅黑";
  font-size: 14px;
  background: #ccc;
  overflow: hidden;
}
#container {
  width: 100%;
  overflow: hidden;
}
#index {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 103;
  backface-visibility: hidden;
}
#index .logo_text {
  display: -webkit-box;
  width: 100%;
}
#index .logo_text div {
  -webkit-box-flex: 1;
}
#index .info {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0;
  background: url(../images/info.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
}
#index .item {
  opacity: 0;
}
#index .active {
  opacity: 1;
}
#waijiao {
  position: absolute;
  top: 33%;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#xjp2014 {
  position: fixed;
  left: 0;
  top: 5%;
  z-index: 100;
  width: 100%;
  -webkit-transform: translate3d(0, -500px, 0);
  -webkit-transition-timing-function: cubic-bezier(0, 1.23, 0.96, 1.285);
}
#c1 {
  position: fixed;
  left: 25%;
  top: 40%;
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-transition: 2s ease -webkit-transform;
  transition: 2s ease transform;
}
#xdd {
  position: fixed;
  left: 0;
  top: 21%;
  width: 50%;
  -webkit-transform: translate3d(-300px, 0, 0);
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
}
#go {
  width: 50%;
  position: fixed;
  left: 50%;
  top: 20%;
  -webkit-transform: scale(0);
  /*-webkit-transform:translate3d(0,70%,0) scale(0);*/
}
#earth {
  width: 80%;
  position: fixed;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(0);
  /*-webkit-transition:1.2s -webkit-transform .2s;*/
}
.rotate {
  -webkit-animation: rotate 20s linear infinite alternate;
}
#xu {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 102;
  -webkit-tranition: -webkit-transform 600ms;
  tranition: transform 600ms;
  backface-visibility: hidden;
}
#xu .info {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0;
  background: url(../images/info.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}
#xidada {
  position: absolute;
  z-index: 99;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation-name: scale;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: scale;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 50px;
}
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10110;
  left: 0;
  top: 0;
  background: #ececec;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-transition: 1s all;
  text-align: center;
}
#loading canvas {
  opacity: 0;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(13%) scale(1.2);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@keyframes scale {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(13%) scale(1.2);
  }
  100% {
    transform: translateY(0%);
  }
}
#main li {
  position: relative;
  overflow: hidden;
  background: #fdf1de;
  width: 100%;
}
#main li .line {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 800ms opacity;
  transition: 800ms opacity;
}
#main li .bg4-line {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 800ms opacity;
  transition: 800ms opacity;
}
#main li .bg6-line {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 800ms opacity;
  transition: 800ms opacity;
}
#main li .bg7-line {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 800ms opacity;
  transition: 800ms opacity;
}
#main li .point {
  position: absolute;
  width: 40%;
  left: 30%;
  bottom: 2%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 100;
  /*-webkit-animation:shake 1s ease-in-out infinite alternate;*/
}
.mask {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform-origin: right;
  ransform-origin: right;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: 500ms -webkit-transform, opacity 1s;
  transition: 500ms transform,opacity 1s;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}
.mask h1 {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  z-index: 100;
  opacity: 0;
}
.mask .imgList {
  width: 100%;
  clear: both;
}
.mask .imgList ul {
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: .5s transform ease;
}
.mask .imgList ul li {
  float: left;
}
.mask .textContainer {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
  transform-style: preserve-3d;
  position: absolute;
  overflow: hidden;
  width: 90%;
  left: 5%;
}
.mask .textContainer #content {
  padding-top: 20px;
}
.mask .textContainer p {
  text-indent: 2em;
  color: #323232;
  line-height: 30px;
  margin: 6px 0;
}
.mask .textContainer h2 {
  font-weight: bold;
  color: #3c2fbd;
  margin-bottom: 20px;
}
.mask .textContainer h2 span {
  font-weight: normal;
  color: #656565;
  font-size: 16px;
  opacity: 0;
}
.mask .next {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 100;
}
.mask .next img {
  width: 36%;
}
.mask .aw {
  width: 15%;
  position: absolute;
  top: 12%;
  -webkit-transform: translate3d(0, 0, 2px);
  transform: translate3d(0, 0, 2px);
}
.mask .left {
  z-index: 110;
}
.mask .right {
  right: 0;
  z-index: 110;
}
.mask .aw.active {
  opacity: 1!important;
}
@media all and (max-height: 460px) and (max-width: 320px) and (min-height: 441px) {
  #c1 {
    top: 38%;
  }
}
@media all and (max-height: 441px) and (max-width: 320px) {
  #c1 {
    top: 33%;
  }
  #waijiao {
    position: absolute;
    top: 28%;
    left: 0;
  }
  #xjp2014 {
    top: 0;
  }
  #xdd {
    top: 16%;
  }
  #go {
    top: 15%;
  }
  #earth {
    top: 35%;
  }
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-10px);
    opacity: 1;
  }
}
@keyframes shake {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-10px);
    opacity: 1;
  }
}
@media all and (min-width: 640px) {
  #index,
  #xu,
  #mask {
    width: 640px;
    left: 50%;
    margin-left: -320px;
    overflow: hidden;
  }
  #main {
    overflow: hidden;
    margin: 0 auto;
    width: 640px;
  }
  #main li {
    width: 640px;
  }
  #loading {
    width: 640px;
    left: 50%;
    margin-left: -320px;
  }
  #xjp2014 {
    position: absolute;
    left: 50%;
    margin-left: -320px;
    top: 5%;
    z-index: 100;
    width: 640px;
  }
  #c1 {
    position: absolute;
    left: 45%;
    top: 60%;
  }
  #xdd {
    position: absolute;
    left: 50%;
    margin-left: -320px;
    top: 21%;
    width: 320px;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
  #go {
    width: 320px;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: scale(0);
    /*-webkit-transform:translate3d(0,70%,0) scale(0);*/
  }
  #earth {
    position: absolute;
    width: 512px;
    left: 50%;
    margin-left: -256px;
  }
}
