html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
}
img {
  border: none;
  vertical-align: top;
  width: 100%;
}
input,
textarea {
  outline: none;
}
body {
  font-family: "微软雅黑";
  font-size: 14px;
  overflow: hidden;
}
.displayBox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
}
.shadow {
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 30px #fff, 0 0 40px #8CAF3A, 0 0 70px #8CAF3A, 0 0 80px #8CAF3A, 0 0 100px #8CAF3A, 0 0 150px #8CAF3A;
}
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10110;
  left: 0;
  top: 0;
  background: #ececec;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-transition: 1s all;
  text-align: center;
}
#loading div {
  margin: 0 auto;
}
#index {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  z-index: 103;
  backface-visibility: hidden;
}
#index .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 90%;
  margin: 20% auto 0;
}
#index .title div {
  -webkit-box-flex: 1;
  -webkit-transform: translate3d(0, 2200px, 0);
  transform: translate3d(0, 2200px, 0);
}
#index .title div:nth-of-type(1) {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
  transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
}
#index .title div:nth-of-type(2) {
  -webkit-transition: 300ms 300ms;
  transition: 300ms 300ms;
  -webkit-transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
  transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
}
#index .title div:nth-of-type(3) {
  -webkit-transition: 300ms 700ms;
  transition: 300ms 700ms;
  -webkit-transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
  transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
}
#index .title div:nth-of-type(4) {
  -webkit-transition: 300ms 1s;
  transition: 300ms 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
  transition-timing-function: cubic-bezier(0, 1.65, 1, 0.65);
}
#index .fen {
  width: 50%;
  margin: 4% auto 0;
  -webkit-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -1000px, 0);
  -webkit-transition: 500ms;
  transition: 500ms;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}
#index .fen div:nth-of-type(1) {
  width: 90%;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
  -webkit-transition: -webkit-transform 400ms 120ms;
  transition: transform 400ms 120ms;
}
#index .fen div:nth-of-type(2) {
  width: 10%;
  -webkit-transform: translate3d(500px, 0, 0);
  transform: translate3d(500px, 0, 0);
  -webkit-transition: -webkit-transform 400ms 100ms;
  transition: transform 400ms 100ms;
}
#index .test {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  -webkit-transform: translate3d(0, 500px, 0);
  transform: translate3d(0, 500px, 0);
  -webkit-transition: -webkit-transform 2.5s;
  transition: transform 2.5s;
}
#index .test p {
  width: 100%;
  position: absolute;
  top: 32%;
  text-align: center;
}
#index .test p span {
  font-size: 26px;
  -webkit-transform: translate3d(0, -1200px, 0);
  transform: translate3d(0, -1200px, 0);
  display: inline-block;
  opacity: 0;
}
#index .test p span:nth-of-type(1) {
  -webkit-transition: 300ms 300ms;
  transition: 300ms 300ms;
  -webkit-transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
  transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
}
#index .test p span:nth-of-type(2) {
  -webkit-transition: 300ms 500ms;
  transition: 300ms 500ms;
  -webkit-transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
  transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
}
#index .test p span:nth-of-type(3) {
  -webkit-transition: 300ms 700ms;
  transition: 300ms 700ms;
  -webkit-transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
  transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
}
#index .test p span:nth-of-type(4) {
  -webkit-transition: 300ms 900ms;
  transition: 300ms 900ms;
  -webkit-transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
  transition-timing-function: cubic-bezier(1, 1.65, 1, 0.865);
}
#index .cloud {
  position: absolute;
  bottom: -3px;
  width: 100%;
}
#index .info {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0;
  background: url(../images/info.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
}
#action1,
#action2,
#action3,
#action4,
#action5,
#action6 {
  position: fixed;
  z-index: 109;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  background: #b91d1d;
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
#action1 .info,
#action2 .info,
#action3 .info,
#action4 .info,
#action5 .info,
#action6 .info {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../images/info.png) no-repeat center;
  background-size: contain;
  -webkit-animation: shake 1s linear infinite;
  animation: shake 1s linear infinite;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
}
#action2 img:nth-of-type(1) {
  margin-top: 10%;
}
#action2 img:nth-of-type(2) {
  margin-top: 5%;
}
#container {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
  overflow: hidden;
}
#container .active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
#container .prev {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  opacity: 0;
}
#container figure {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: fixed;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
#container figure .anwsers {
  width: 90%;
}
#container figure .question,
#container figure .anwser {
  width: 90%;
  font-size: 20px;
  -webkit-transform-origin: left;
  transform-origin: left;
  margin: 25px auto;
}
#container figure .question:nth-of-type(1),
#container figure .anwser:nth-of-type(1) {
  -webkit-transition: 500ms;
  transition: 500ms;
}
#container figure .question:nth-of-type(2),
#container figure .anwser:nth-of-type(2) {
  -webkit-transition: 500ms 400ms;
  transition: 500ms 400ms;
}
#container figure .question span,
#container figure .anwser span {
  display: inline-block;
  width: 90%;
  padding-left: 10%;
  height: 100%;
  font-size: 20px;
}
#container figure .anwser {
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
#play {
  width: 36px;
  height: 40px;
  background: url(../images/play.png) no-repeat 0 0;
  position: fixed;
  right: 10%;
  top: 4%;
  z-index: 1000;
}
#main {
  overflow: hidden;
}
#main figure {
  margin-top: -10%;
}
#team {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  z-index: 1001;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
}
#result {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  background: #fff;
  left: 0;
  top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
}
#result .title {
  width: 100%;
  font-size: 22px;
  color: #777;
  margin: 10px auto;
  text-align: center;
  color: red;
  font-weight: bold;
}
#result .score {
  position: relative;
}
#result .score span {
  position: absolute;
  left: 47%;
  top: 22%;
  font-size: 35px;
}
#result .score div {
  position: absolute;
  left: 44%;
  top: 70%;
  font-size: 24px;
}
#result .score div a {
  color: #fff;
}
#result .info {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../images/info.png) no-repeat center;
  background-size: contain;
  -webkit-animation: shake 1s linear infinite;
  animation: shake 1s linear infinite;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
}
#result_text,
#result_text1 {
  text-align: center;
}
#result_text p,
#result_text1 p {
  margin: 20px 0;
}
.mask {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 201;
  text-align: right;
  left: 0;
  top: 0;
}
.mask p {
  color: #fff;
  position: absolute;
  left: 30px;
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-25px);
    opacity: 1;
  }
}
@keyframes shake {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-25px);
    opacity: 1;
  }
}
@media all and (min-width: 640px) {
  #index,
  #action1,
  #action2,
  #action3,
  #action4,
  #action5,
  #action6,
  #container,
  #loading,
  #result,
  #team {
    width: 640px;
  }
  #index,
  #action1,
  #action2,
  #action3,
  #action4,
  #action5,
  #action6,
  #loading,
  #result,
  #team {
    left: 50%;
    margin-left: -320px;
  }
  #container {
    margin: 0 auto;
  }
  #index .test p span {
    font-size: 44px;
  }
}
